{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur notre application GitHub</h1>
        {% if user %}
            <p>Bonjour, {{ user.name }} !</p>
        {% else %}
            <p>Vous n'êtes pas connecté. <a href="{{ loginUrl }}">Se connecter avec GitHub</a></p>
        {% endif %}
    </div>

{% endblock %}
