{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="github_login container">
        {% if login %}
            <p>Connected as {{ login }}</p>
            <img src="{{ picture }}" alt="User picture">
        {% else %}
            <a href="{{ loginUrl }}">Sign-in with GitHub</a>
        {% endif %}
    </div>

{% endblock %}
