{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="github_login container">
        <p>{{ login }}</p>
        <img src="{{ picture }}">
    </div>

{% endblock %}
